language: python
python:
  - "2.7"
# command to install dependencies
install:
  - sudo add-apt-repository -y ppa:ubuntu-toolchain-r/test
  - sudo apt-get -qq update
  - sudo apt-get -qq install g++-4.8
  - sudo update-alternatives --install /usr/bin/g++ g++ /usr/bin/g++-4.8 90
  - pip install cython
  - make
# command to run tests
script: "cd Tests && make testpython"
